@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Pixelify Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-principal: "Pixelify Sans";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Press Start 2P", serif;
  color:black
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button{
    background-color: #13a7a9;
    border-radius: 2em;
    color: white;
    border: black solid 3.5px;
    font-weight: bold;
  }
  button:hover{
    background-color: #0d6c6e;
  }
}

.answer{
  /*'text-[20px] border-2 border-black rounded-xl w-[50em] h-[2.5em] flex justify-center bg-[#052037] text-white items-center hover:bg-[#01090f]'*/
  font-size: 20px;
  border:black solid 4px;
  border-radius: 2em;
  width: 50em;
  height: 4em;
  display: flex;
  justify-content: center;
  background-color: #052037;
  color: white;
  align-items: center;
  cursor: pointer;
}

.answer:hover{
  background-color: #03182a;
}

.selected_answer{
  height: 5em;
  background-color: #13a7a9;
  font-size: 20px;
  border:black solid 4px;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}
